*{
  font-family: 'Times New Roman', Times, serif;
  /*background-color: rgb(255, 255, 240);*/
}

.menu{
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
}
 
.menu a
{
  background-color: rgb(255, 255, 255);
  color:darkgreen;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  float : right;
}

.minimenu a:hover 
{
    background: #5A5766
}

label, #toggle {
  display: none;
}

.first{
  margin-top: 7vh;
  height: 93vh;
  width: 100%;
}

.home{
  width: 100%;
  height : 70%;
  background-image: url("images/image3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home h1{
  background-color: transparent;
  text-align: center;
  font-size: 50px;
}

.home h1 span{
  background-color: transparent;
}

.intro{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  /*height: 400px;*/
  color : darkblue;
  font-size: 20px;
}

.intro h2{
  font-size: 35px;
  text-align:center
}

.specialization{
  color : darkblue;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

.specialization h2{
  text-align:center;
  font-size: 35px;
}

.specialization p{
  font-size: 20px;
}

.ethiques{
  color : darkblue;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

.ethiques h2{
  text-align:center;
  font-size: 35px;
}

.ethiques p{
  font-size: 20px;
}

.laboratoire{
  color : darkblue;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

.laboratoire h2{
  text-align:center;
  font-size: 35px;
}

.laboratoire p{
  font-size: 20px;
}

/*rgb(169, 92, 104)*/

.contact{
  background-color: rgb(52, 52, 52);
  color : white;
  padding-bottom: 2%;
}

.contact h3{
  background-color: rgb(52, 52, 52);
  color : white;
  font-size: 20px;
  padding-left: 100px;
}

.contact p{
  background-color: rgb(52, 52, 52);
  color : white;
  font-size: 15px;
  padding-left: 150px;
}

.contact a{
  background-color: rgb(52, 52, 52);
  color : white;
  font-size: 15px;
  padding-left: 150px;
}

.contact .material-icons{
  padding-left: 150px;
  background-color: rgb(52, 52, 52);
}

.contact table, tr, td{
  padding-left: 20px;
  background-color: rgb(52, 52, 52);
  border : none;
}

.adj{
  font-weight: bold;
}

.contenu_contact{
  display: flex;
}

.map{
  width: 50%;
  height: 100%;
}

.contact_map{
  width: 50%;
}

.contact_table{
  width: 50%;
}


@media screen and (max-width: 1200px) {
  .minimenu {
    display: none;
    flex-direction: column;
    background: white;
    align-items: center;
    justify-content: space-around;
  }
 
  .minimenu a {
    width: 50%;
    background: white;
    align-items: center;
    justify-content: center;
  }

  label {
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: darkgreen;
    cursor: pointer;
  }

  #toggle:checked + .minimenu {
    display: flex;
  }

  .contenu_contact{
    display: block;
  }

  .contact_map{
    align-items: center;
    padding-left: 170px;
  }
}